---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sneacker - 3D</title>
		<script type="module" src="/src/main.js" defer></script>
	</head>
	<body>
		<canvas id="webgl"></canvas>
		<div id="app">
			<div class="ui">
				<div class="ui">
				<button data-variant="yellow">Yellow</button>
				<button data-variant="cyan">Cyan</button>
				<button data-variant="green">Green</button>
				<button data-variant="red">Red</button>
			</div>
		</div>
	</body>
</html>
